@import "partials/layout";
@import "partials/navbar";
@import "partials/footer";
@import "partials/hero";
@import "partials/breadcrumb";
@import "partials/sections";

// GENERAL

body {
  font-family: $font-family-sans-serif;
  background-image: url("../images/main-background-img.png");
  background-position: center;
  background-repeat: repeat-y;
  color: $black;
  font-size: $font-size-base;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-body;
  }
}

h2,
.h2 {
  margin-top: ($spacer * 4.5);
}

p[style*="justify"] {
  hyphens: auto;
}

.lead {
  font-weight: $font-weight-normal;
}

blockquote {
  font-style: italic;

  .blockquote-footer {
    font-style: normal;
    font-weight: $font-weight-bold;

    &::before {
      content: none;
    }
  }
}

.line-through {
  position: relative;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
    background-color: $primary;
  }

  span {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    // line-height: 0;
    z-index: 1;
    background-color: #fff;
    font-weight: $font-weight-normal;
    text-transform: uppercase;

    img {
      margin-right: 0.5rem;
    }
  }
}

// BOOTSTRAP

.dropdown-divider {
  border-width: 2px;
}

.card {
  box-shadow: $box-shadow;

  &:hover {
    text-decoration: none;
  }
}

.card-title {
  margin-top: 0;
}

.card-text {
  p {
    text-align: justify;
    hyphens: auto;
  }
}

.card-text-center {
  .card-text {
    p {
      text-align: center;
      hyphens: none;
    }
  }
}

.btn-outline-primary {
  background-color: #fff;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.item-page {
  overflow-x: hidden;
}

// CUSTOM

.btn-outline-black {
  color: $black;
  background-color: $white;
  border-color: $black;

  &:hover {
    color: $black;
  }
}

[class*="float"] {
  img {
    margin-top: 0.5rem;
  }
}

[class*="float"] + h2 {
  margin-top: 0;
}

// .line-through {
//     display: table;
//     margin-top: 3rem;
//     margin-bottom: 1rem;
//     overflow: hidden;
//     white-space: nowrap;
//
//     &:before,
//     &:after {
//       border-top: 1px solid $primary;
//       content: '';
//       display: table-cell;
//       position: relative;
//       top: 1.25rem;
//       width: 45%;
//     }
//
//     &:before {
//       right: 1.5%;
//     }
//
//     &:after {
//       left: 1.5%;
//     }
// }

.cards {
  margin: 0 0 0 -15px;

  .card {
    margin: 0 0 15px 15px;
    overflow: hidden;
    color: $white;
    font-family: $font-family-condensed;
    text-align: center;

    h3 {
      margin-bottom: 0.5rem;
      font-size: $font-size-body;
    }
  }
}

.cards {
  &.cols-4 {
    .card {
      width: 100%;
    }
  }

  &.cols-5 {
    .card {
      width: 100%;
    }
  }
}

.cards {
  &.overlay {
    .card {
      border: none;

      img {
        height: 250px;
        object-fit: cover;
      }

      .card-img-overlay {
        padding: 0;

        .card-title {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 0.75rem;
          margin: 0;
          background-color: rgba(0, 0, 0, 0.5);

          a {
            color: $white;
          }
        }
      }
    }
  }
}

.hero-slogan {
  color: $white;
  text-align: center;
}

.embed-responsive {
  margin-bottom: $spacer;
}

.medallion {
  border: 1px solid $white;
  border-radius: 100%;
}

// HEADER

// Main menu

.dropdown-menu {
  box-shadow: $dropdown-box-shadow;
}

.nav-child {
  padding: 0;
  list-style-type: none;

  .nav-item {
    margin: 0;

    .nav-link {
      padding-top: 0;
      padding-right: 0.5rem;
      padding-bottom: 0;
      padding-left: 0.5rem;
      color: $black;

      &:hover,
      &:focus {
        color: $black;
      }

      span {
        display: block;
        padding-top: ($spacer / 2);
        padding-bottom: ($spacer / 2);
        border-bottom: 1px solid $black;
      }
    }

    &:last-child {
      .nav-link {
        span {
          border: none !important;
        }
      }
    }
  }
}

.picto__agenda {
  > a {
    > span {
      &::before {
        content: url("../images/calendar-picto-white.svg");
        display: inline-block;
        width: 15px;
        margin-right: 5px;
      }
    }
  }
}

.element-invisible {
  display: none;
}

.btn.finder {
  background-color: $black;
  color: $white;
}

// ARTICLE

.hero-menu {
  justify-content: center;

  .dropdown-divider {
    display: none;
  }

  .nav-item {
    margin: ($spacer / 2);

    .nav-link {
      padding: ($spacer / 5) ($spacer * 1.5);
      font-family: $font-family-condensed;
      font-size: $font-size-base;
      color: $white;
      border: 1px solid $white;
      border-radius: $border-radius;

      &:hover,
      &:focus {
        background-color: $white;
        color: $black;
      }
    }

    &.active {
      .nav-link {
        background-color: $white;
        color: $black;
      }
    }
  }
}

// BLOG

.blog {
  .items-row {
    margin-bottom: 30px;
  }
}

.secteurs {
  .category-desc {
    .lead {
      font-weight: $font-weight-normal;
    }
  }
}

.desks {
  .card-img-top {
    width: auto;
    height: 145px;
    object-fit: contain;
  }
}

p.readmore {
  margin: 0;
}

// EB EVENTS

.webinaires-et-formations {
  .line-through {
    margin-bottom: 2rem;
  }
}

#eb-events {
  .card {
    border: none;
    overflow: hidden;
  }

  .card-title {
    margin: 0;
    color: #000;
  }

  .card-footer {
    padding-top: 0;
    padding-bottom: 15px;
    background-color: transparent;
    border: none;
  }

  .eb-event-date-time {
    position: absolute;
    top: -30px;
    left: 30px;
    display: flex;
    width: 80px;
    max-width: 80px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    z-index: 2;
    background-color: $primary;
    border-radius: 4px;
    color: #fff;
    font-family: $font-family-condensed;
    font-size: $h1-font-size;
    font-weight: 700;

    .small {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .eb-event-location-price {
    padding: 0;

    .eb-event-price {
      padding: 0;
      color: $primary;
    }
  }
}

.card-thumbnail {
  position: relative;
  height: 150px;
  // background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.75) 75%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.card-event-catid-3 {
  // Evénements
  .card {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    .card-thumbnail {
      &::before {
        content: none;
      }
    }
  }
}

.event-category {
  position: absolute;
  right: 15px;
  bottom: 15px;
  margin: 0;
  color: #fff;
}

.card-event-catid-1 {
  // Webinaires
  .event-category {
    &::before {
      content: url("../images/webcam-picto-white.svg");
      display: inline-block;
      width: 15px;
      margin-right: 5px;
    }
  }
}

.card-event-catid-2 {
  // Formations
  .event-category {
    &::before {
      content: url("../images/formation-picto-white.svg");
      display: inline-block;
      width: 25px;
      margin-right: 5px;
    }
  }
}

.card-event-catid-3 {
  // Evénements
  a {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;

      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.75) 75%,
        rgba(0, 0, 0, 1) 100%
      );
    }
  }

  .card-thumbnail,
  .card-body,
  .card-footer {
    z-index: 1;
  }

  .event-category {
    right: auto;
    left: 15px;

    &::before {
      content: url("../images/calendar-picto-white.svg");
      display: inline-block;
      width: 18px;
      margin-right: 5px;
    }
  }

  .card-title {
    color: #fff !important;
  }

  .badge-primary {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

  .btn-outline-primary {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background-color: #000;
    }
  }
}

.courses-catalog {
  display: inline-flex;
  width: 280px;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 60px;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  white-space: normal;

  img {
    width: 60px;
    margin-right: 1rem;
  }
}

#eb-event-page {
  #eb-event-info {
    margin-top: -4rem;

    .eb-event-category {
      margin: 0;
      margin-bottom: 1.5rem;
      color: #fff;
      text-align: center;

      &.card-event-catid-1 {
        // Webinaires
        span {
          padding-bottom: 0.25rem;
          border-bottom: 1px solid #fff;

          &::before {
            content: url("../images/webcam-picto-white.svg");
            display: inline-block;
            width: 15px;
            margin-right: 5px;
          }
        }
      }

      &.card-event-catid-2 {
        // Formations
        span {
          padding-bottom: 0.25rem;
          border-bottom: 1px solid #fff;

          &::before {
            content: url("../images/formation-picto-white.svg");
            display: inline-block;
            width: 30px;
            margin-right: 5px;
          }
        }
      }

      &.card-event-catid-3 {
        // Evénements
        span {
          padding-bottom: 0.25rem;
          border-bottom: 1px solid #fff;

          &::before {
            content: url("../images/calendar-picto-white.svg");
            display: inline-block;
            width: 20px;
            margin-right: 5px;
          }
        }
      }
    }

    .eb-event-date-time {
      display: flex;
      // margin-bottom: 1.5rem;
      flex-direction: column;
      align-items: center;

      > span {
        margin: 0;
        margin-bottom: 0.25rem;
      }
    }

    .eb-event-price {
      margin-bottom: 1.5rem;
      text-align: center;

      // .badge {
      //   border: 1px solid #fff;
      //   font-size: $h3-font-size;
      //   text-align: center;
      // }
    }

    .eb-event-action {
      margin-bottom: 1rem;
      text-align: center;

      p {
        color: #fff;
        opacity: 0.8;
        font-weight: 700;
      }

      .btn {
        background-color: #fff;
        color: #000;
        font-weight: 700;
      }
    }
  }
}

section.events {
  padding-top: 30px;
  padding-bottom: 15px;
  background: transparent linear-gradient(65deg, #f46b06 0%, #c20012 100%) 0% 0%
    no-repeat padding-box;

  .line-through-alt {
    display: table;
    margin-top: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;

    &:before,
    &:after {
      border-top: 1px solid #fff;
      content: "";
      display: table-cell;
      position: relative;
      top: 1.25rem;
      width: 45%;
    }

    &:before {
      right: 1.5%;
    }

    &:after {
      left: 1.5%;
    }

    &::after {
      background-color: transparent;
    }

    span {
      display: inline-block;
      line-height: 0;
      vertical-align: 5px;

      img {
        margin-right: 0.5rem;
      }
    }
  }

  .eb-event-date-time {
    background-color: #fff !important;
    color: $primary !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .card-event-catid-3 {
    .eb-event-date-time {
      background-color: $primary !important;
      border: 1px solid #fff !important;
      color: #fff !important;
    }
  }
}

.card {
  &.training {
    border: none;
    color: #000000;

    .card-img-top {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(0, 0, 0, 0.75) 75%,
          #000 100%
        );
      }

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
      }
    }

    .card-title {
      color: $black;
    }
  }

  .card-footer {
    background-color: transparent;
    border: none;
  }
}

// ISOTOPE MODULE

.isotope_item {
  text-align: center;
}

.isotope_button-group {
  margin-bottom: $spacer;
  text-align: center;

  .btn {
    margin: $spacer * 0.2;
  }
}

.isotope_button-group .btn:hover,
.isotope_button:hover,
.isotope_button-group .btn:active,
.isotope_button-group .btn.is-checked,
.isotope_button:active,
.isotope_button.is-checked {
  border-color: $white;
  background-color: $primary;
  color: $white;
}

.ribbon {
  position: absolute;
  top: 15px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: $primary;
  color: #fff;
  font-family: $font-family-condensed;
  font-weight: $font-weight-bold;

  &::before {
    content: url("../images/ribbon-shadow.svg");
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: -7px;
  }

  span {
    padding: 0 1rem;
  }
}

.news-card-list {
  .card {
    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.reference {
  .index {
    position: sticky;
    top: $spacer;
  }

  .rl_quickindex {
    .index-header {
      margin-top: 0;
      font-weight: $font-weight-normal;
      text-align: center;
      text-transform: uppercase;
    }

    .index-item {
      margin-bottom: $spacer;
    }

    .index-link {
      color: $white;
    }
  }

  .content {
    h2 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

a.droppicssingleimage {
  color: transparent;

  &.showcaption {
    span {
      color: #000000;
      font-weight: $font-weight-normal;

      &::before {
        content: "\f002";
        margin-right: 0.5rem;
        font-family: FontAwesome;
      }
    }
  }

  img {
    border: none;
  }
}

.droppicssingleimage {
  &[style*="auto"] {
    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.fabrikMainError {
  background-color: $primary;
  color: $white;

  .close {
    right: 5px;
  }
}

.rl_tabs > .tab-content > .tab-pane#info-request {
  overflow-x: hidden;
}

[class*="___consent"] {
  > label.fabrikLabel.fabrikTip {
    display: none !important;
  }

  .fabrikinput {
    + span {
      margin-left: $spacer * 0.25;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
    }
  }
}

@import "partials/medium.scss";
@import "partials/large.scss";
@import "partials/extra-large.scss";
