// Styles for large sreen width (≥ 992 px)

@include media-breakpoint-up(lg) {
  .cards {
    &.cols-4 {
      .card {
        width: calc(100% / 4 - 15px);
      }
    }

    &.cols-5 {
      .card {
        width: calc(100% / 5 - 15px);
      }
    }
  }

  .text-columns_two {
    column-count: 2;
    column-gap: 2rem;
    text-align: justify;
    hyphens: auto;
  }
}
