// Styles for medium sreen width (≥ 768 px)

@include media-breakpoint-up(md) {
  .hero {
    .container {
      padding: 75px 90px;
    }
  }

  .cards {
    &.cols-4 {
      .card {
        width: calc(100% / 2 - 15px);
      }
    }

    &.cols-5 {
      .card {
        width: calc(100% / 2 - 15px);
      }
    }
  }
}
